services:
  qdrant:
    image: qdrant/qdrant:v1.7.2
    container_name: qdrant_db
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
      - /opt/RAGProject/qdrant-config:/qdrant/config  # Mapping config directory
    restart: always

  app:
    build: .
    container_name: rag_api
    ports:
      - "8000:8000"
    depends_on:
      - qdrant
    volumes:
      - /opt/RAGProject:/app
    restart: always
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333

volumes:
  qdrant_data:
    name: qdrant_data
    external: true

